<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StrayaMinerLauncher006.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StrayaMinerLauncher006.Properties.Settings>
            <setting name="PathToWallet" serializeAs="String">
                <value />
            </setting>
            <setting name="PathToCLI" serializeAs="String">
                <value />
            </setting>
            <setting name="PathToMiner" serializeAs="String">
                <value />
            </setting>
            <setting name="PreferedMarket" serializeAs="String">
                <value>HODL</value>
            </setting>
            <setting name="DeviceMonitorTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UserBlocksMinedTotal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PreferedTicker" serializeAs="String">
                <value>NAH</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ApiSecretKey" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomPriority" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomAffinity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinerCore1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MinerCore2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MinerCore3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MinerCore4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="PriorityIndex1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriorityIndex2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriorityIndex3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PriorityIndex4" serializeAs="String">
                <value>0</value>
            </setting>
        </StrayaMinerLauncher006.Properties.Settings>
    </userSettings>
</configuration>